In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('/content/supermarket_sales.csv')

In [3]:
data

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

# **Task-1**

In [12]:
total_transactions = len(data)

# Event A: Transaction by a Member customer
event_a = data['Customer type'] == 'Member'
p_a = event_a.sum() / total_transactions

# Event B: Transaction made using Credit Card
event_b = data['Payment'] == 'Credit card'
p_b = event_b.sum() / total_transactions

# Intersection of A and B
event_a_and_b = event_a & event_b
p_a_and_b = event_a_and_b.sum() / total_transactions

# Union of A and B
p_a_or_b = p_a + p_b - p_a_and_b

# Conditional probability P(A|B)
p_a_given_b = p_a_and_b / p_b

In [13]:
# Probability of Health & Beauty product line
health_beauty_prob = len(data[data['Product line'] == 'Health and beauty']) / total_transactions
print(f"Probability of Health & Beauty product line: {health_beauty_prob}")

Probability of Health & Beauty product line: 0.152

In [14]:
# Probability of purchasing > 5 items given Ewallet payment
ewallet_transactions = data[data['Payment'] == 'Ewallet']
more_than_5_items_ewallet = len(ewallet_transactions[ewallet_transactions['Quantity'] > 5])
p_more_than_5_given_ewallet = more_than_5_items_ewallet / len(ewallet_transactions)
print(f"Probability of purchasing > 5 items given Ewallet: {p_more_than_5_given_ewallet}")

Probability of purchasing > 5 items given Ewallet: 0.48695652173913045

In [15]:
# Probability of Yangon and Cash payment
yangon_cash = len(data[(data['City'] == 'Yangon') & (data['Payment'] == 'Cash')])
p_yangon_cash = yangon_cash / total_transactions
print(f"Probability of Yangon and Cash payment: {p_yangon_cash}")

Probability of Yangon and Cash payment: 0.11

In [16]:
# Probability of Member with rating > 8
member_high_rating = len(data[(data['Customer type'] == 'Member') & (data['Rating'] > 8)])
p_member_high_rating = member_high_rating / total_transactions
print(f"Probability of Member with rating > 8: {p_member_high_rating}")

Probability of Member with rating > 8: 0.157

In [17]:
print(f"P(A): {p_a}")
print(f"P(B): {p_b}")
print(f"P(A ∩ B): {p_a_and_b}")
print(f"P(A ∪ B): {p_a_or_b}")
print(f"P(A | B): {p_a_given_b}")

P(A): 0.501
P(B): 0.311
P(A ∩ B): 0.172
P(A ∪ B): 0.6400000000000001
P(A | B): 0.5530546623794211

# **Task-2**

In [7]:
import math
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

def permutations(n, r):
  return factorial(n) // factorial(n-r)

def combinations(n, r):
  return factorial(n) // (factorial(r) * factorial(n-r))

In [8]:
# Permutation: 5 transactions from 20
p_transactions = permutations(20, 5)
print(f"Different ways to arrange 5 transactions from 20: {p_transactions}")

Different ways to arrange 5 transactions from 20: 1860480

In [9]:
# Combination: 3 product lines from 6 categories
c_products = combinations(6, 3)
print(f"Ways to select 3 product lines from 6 categories: {c_products}")

Ways to select 3 product lines from 6 categories: 20

In [10]:
try:
    total_branches = len(data['Branch'].unique())
    fact_branches = factorial(total_branches)
    print(f"Factorial of total branches: {fact_branches}")
except KeyError:
    print("Error: 'Branch' column not found in the dataset.")

Factorial of total branches: 6

In [11]:
#permutations
p_payments = permutations(3,3)
print(f"Ways to display 3 payment methods on a banner: {p_payments}")

# Employees for customer feedback
c_employees = combinations(15, 5)
print(f"Ways to select 5 employees from 15: {c_employees}")

invoice_codes = 26**6
print(f"Ways to create unique invoice codes using 6 letters: {invoice_codes}")

Ways to display 3 payment methods on a banner: 6
Ways to select 5 employees from 15: 3003
Ways to create unique invoice codes using 6 letters: 308915776